

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Source: dialog/Dialog.vue | Tui JSDoc Template</title>

    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="styles/prettify-jsdoc.css">
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/tui-doc.css">

    
</head>
<body>
<nav class="lnb" id="lnb">
    <div class="logo" style="width: 150px; height: 13px">
        
            <a href="https://github.com/nhnent/tui.jsdoc-template" rel="noopener noreferrer" target="_blank">
                <img src="http://nhnent.github.io/tui.component.tree/latest/styles/logo.png" width="100%" height="100%">
            </a>
        
    </div>
    <div class="title">
        <h1><a href="index.html" class="link">Tui JSDoc Template</a></h1>
        
    </div>
    <div class="search-container" id="search-container">
        <input type="text" placeholder="Search">
        <ul></ul>
    </div>
    
    
</nav>
<div id="resizer"></div>

<div class="main" id="main">
    



    
    <section>
        <article>
            <pre class="prettyprint source linenums"><code>&lt;template>
  &lt;transition :name="animation">
    &lt;div
      v-if="isActive"
      :class="size"
      class="dialog modal is-active">
      &lt;div 
        class="modal-background" 
        @click="cancel('outside')"/>
      &lt;div class="modal-card animation-content">
        &lt;header 
          v-if="title" 
          class="modal-card-head">
          &lt;p class="modal-card-title">{{ title }}&lt;/p>
        &lt;/header>

        &lt;section
          :class="{ 'is-titleless': !title, 'is-flex': hasIcon }"
          class="modal-card-body">
          &lt;div class="media">
            &lt;div 
              v-if="hasIcon" 
              class="media-left">
              &lt;b-icon
                :icon="icon ? icon : iconByType"
                :pack="iconPack"
                :type="type"
                :both="!icon"
                size="is-large"/>
            &lt;/div>
            &lt;div class="media-content">
              &lt;p v-html="message"/>

              &lt;div 
                v-if="hasInput" 
                class="field">
                &lt;div class="control">
                  &lt;input
                    ref="input"
                    v-model="prompt"
                    :class="{ 'is-danger': validationMessage }"
                    v-bind="inputAttrs"
                    class="input"
                    @keyup.enter="confirm">
                &lt;/div>
                &lt;p class="help is-danger">{{ validationMessage }}&lt;/p>
              &lt;/div>
            &lt;/div>
          &lt;/div>
        &lt;/section>

        &lt;footer class="modal-card-foot">
          &lt;button
            v-if="showCancel"
            ref="cancelButton"
            class="button"
            @click="cancel('button')">
            {{ cancelText }}
          &lt;/button>
          &lt;button
            ref="confirmButton"
            :class="type"
            class="button"
            @click="confirm">
            {{ confirmText }}
          &lt;/button>
        &lt;/footer>
      &lt;/div>
    &lt;/div>
  &lt;/transition>
&lt;/template>

&lt;script>
import Icon from '../icon/Icon'
import Modal from '../modal/Modal'
import config from '../../utils/config'
import { removeElement } from '../../utils/helpers'
import BaseElementMixin from '../../utils/BaseElementMixin'

export default {
  name: 'BDialog',
  components: {
    [Icon.name]: Icon,
  },
  extends: Modal,
  mixins: [BaseElementMixin],
  props: {
    title: String,
    message: String,
    icon: String,
    hasIcon: Boolean,
    type: {
      type: String,
      default: 'is-primary',
    },
    size: String,
    confirmText: {
      type: String,
      default: () => {
        return config.defaultDialogConfirmText
          ? config.defaultDialogConfirmText
          : 'OK'
      },
    },
    cancelText: {
      type: String,
      default: () => {
        return config.defaultDialogCancelText
          ? config.defaultDialogCancelText
          : 'Cancel'
      },
    },
    hasInput: Boolean, // Used internally to know if it's prompt
    inputAttrs: {
      type: Object,
      default: () => ({}),
    },
    onConfirm: {
      type: Function,
      default: () => {},
    },
    focusOn: {
      type: String,
      default: 'confirm',
    },
  },
  data() {
    const prompt = this.hasInput ? this.inputAttrs.value || '' : ''

    return {
      prompt,
      isActive: false,
      validationMessage: '',
    }
  },
  computed: {
    /**
     * Icon name (MDI) based on the type.
     */
    iconByType() {
      switch (this.type) {
        case 'is-info':
          return 'information'
        case 'is-success':
          return 'check-circle'
        case 'is-warning':
          return 'alert'
        case 'is-danger':
          return 'alert-circle'
        default:
          return null
      }
    },
    showCancel() {
      return this.cancelOptions.indexOf('button') >= 0
    },
  },
  beforeMount() {
    // Insert the Dialog component in body tag
    document.body.appendChild(this.$el)
  },
  mounted() {
    this.isActive = true

    if (typeof this.inputAttrs.required === 'undefined') {
      this.$set(this.inputAttrs, 'required', true)
    }

    this.$nextTick(() => {
      // Handle which element receives focus
      if (this.hasInput) {
        this.$refs.input.focus()
      } else if (this.focusOn === 'cancel' &amp;&amp; this.showCancel) {
        this.$refs.cancelButton.focus()
      } else {
        this.$refs.confirmButton.focus()
      }
    })
  },
  methods: {
    /**
     * If it's a prompt Dialog, validate the input.
     * Call the onConfirm prop (function) and close the Dialog.
     */
    confirm() {
      if (this.$refs.input !== undefined) {
        if (!this.$refs.input.checkValidity()) {
          this.validationMessage = this.$refs.input.validationMessage
          this.$nextTick(() => this.$refs.input.select())
          return
        }
      }

      this.onConfirm(this.prompt)
      this.close()
    },

    /**
     * Close the Dialog.
     */
    close() {
      this.isActive = false
      // Timeout for the animation complete before destroying
      setTimeout(() => {
        this.$destroy()
        removeElement(this.$el)
      }, 150)
    },
  },
}
&lt;/script>
</code></pre>
        </article>
    </section>




</div>

<footer>
    <img class="logo" src="http://nhnent.github.io/tui.component.tree/latest/styles/logo.png" style="width: 150px; height: 13px">
    <div class="footer-text">My awesome footer text</div>
</footer>
<script>prettyPrint();</script>
<script src="scripts/jquery.min.js"></script>
<script src="scripts/tui-doc.js"></script>
<script src="scripts/linenumber.js"></script>

    <script>
        var id = '_sub'.replace(/"/g, '_');
        var selectedApi = document.getElementById(id); // do not use jquery selector
        var $selectedApi = $(selectedApi);

        $selectedApi.removeClass('hidden');
        $selectedApi.parent().find('.glyphicon').removeClass('glyphicon-plus').addClass('glyphicon-minus');
        showLnbApi();
    </script>

</body>
</html>
