

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Source: input/Input.vue | Tui JSDoc Template</title>

    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="styles/prettify-jsdoc.css">
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/tui-doc.css">

    
</head>
<body>
<nav class="lnb" id="lnb">
    <div class="logo" style="width: 150px; height: 13px">
        
            <a href="https://github.com/nhnent/tui.jsdoc-template" rel="noopener noreferrer" target="_blank">
                <img src="http://nhnent.github.io/tui.component.tree/latest/styles/logo.png" width="100%" height="100%">
            </a>
        
    </div>
    <div class="title">
        <h1><a href="index.html" class="link">Tui JSDoc Template</a></h1>
        
    </div>
    <div class="search-container" id="search-container">
        <input type="text" placeholder="Search">
        <ul></ul>
    </div>
    
    
</nav>
<div id="resizer"></div>

<div class="main" id="main">
    



    
    <section>
        <article>
            <pre class="prettyprint source linenums"><code>&lt;template>
  &lt;div 
    :class="rootClasses" 
    class="control">
    &lt;input
      v-if="type !== 'textarea'"
      ref="input"
      :class="inputClasses"
      :type="newType"
      :autocomplete="newAutocomplete"
      :maxlength="maxlength"
      :value="newValue"
      v-bind="$attrs"
      class="input"
      @input="onInput"
      @blur="onBlur"
      @focus="onFocus">

    &lt;textarea
      v-else
      ref="textarea"
      :class="inputClasses"
      :maxlength="maxlength"
      :value="newValue"
      v-bind="$attrs"
      class="textarea"
      @input="onInput"
      @blur="onBlur"
      @focus="onFocus"/>

    &lt;b-icon
      v-if="icon"
      :icon="icon"
      :pack="iconPack"
      :size="iconSize"
      class="is-left"/>

    &lt;b-icon
      v-if="!loading &amp;&amp; (passwordReveal || statusType)"
      :class="{ 'is-clickable': passwordReveal }"
      :icon="passwordReveal ? passwordVisibleIcon : statusTypeIcon"
      :pack="iconPack"
      :size="iconSize"
      :type="!passwordReveal ? statusType : 'is-primary'"
      class="is-right"
      both
      @click.native="togglePasswordVisibility"/>

    &lt;small
      v-if="maxlength &amp;&amp; hasCounter &amp;&amp; type !== 'number'"
      :class="{ 'is-invisible': !isFocused }"
      class="help counter">
      {{ valueLength }} / {{ maxlength }}
    &lt;/small>
  &lt;/div>
&lt;/template>

&lt;script>
import Icon from '../icon/Icon'
import config from '../../utils/config'
import FormElementMixin from '../../utils/FormElementMixin'

export default {
  name: 'BInput',
  components: {
    [Icon.name]: Icon,
  },
  mixins: [FormElementMixin],
  inheritAttrs: false,
  props: {
    value: [Number, String],
    type: {
      type: String,
      default: 'text',
    },
    passwordReveal: Boolean,
    hasCounter: {
      type: Boolean,
      default: () => config.defaultInputHasCounter,
    },
  },
  data() {
    return {
      newValue: this.value,
      newType: this.type,
      newAutocomplete: this.autocomplete || config.defaultInputAutocomplete,
      isPasswordVisible: false,
      _elementRef: this.type === 'textarea' ? 'textarea' : 'input',
    }
  },
  computed: {
    rootClasses() {
      return [
        this.iconPosition,
        this.size,
        {
          'is-expanded': this.expanded,
          'is-loading': this.loading,
          'is-clearfix': !this.hasMessage,
        },
      ]
    },
    inputClasses() {
      return [this.statusType, this.size, { 'is-rounded': this.rounded }]
    },
    hasIconRight() {
      return this.passwordReveal || this.loading || this.statusType
    },

    /**
     * Position of the icon or if it's both sides.
     */
    iconPosition() {
      if (this.icon &amp;&amp; this.hasIconRight) {
        return 'has-icons-left has-icons-right'
      } else if (!this.icon &amp;&amp; this.hasIconRight) {
        return 'has-icons-right'
      } else if (this.icon) {
        return 'has-icons-left'
      }
    },

    /**
     * Icon name (MDI) based on the type.
     */
    statusTypeIcon() {
      switch (this.statusType) {
        case 'is-success':
          return 'check'
        case 'is-danger':
          return 'alert-circle'
        case 'is-info':
          return 'information'
        case 'is-warning':
          return 'alert'
      }
    },

    /**
     * Check if have any message prop from parent if it's a Field.
     */
    hasMessage() {
      return !!this.statusMessage
    },

    /**
     * Current password-reveal icon name.
     */
    passwordVisibleIcon() {
      return !this.isPasswordVisible ? 'eye' : 'eye-off'
    },
    /**
     * Get value length
     */
    valueLength() {
      if (typeof this.newValue === 'string') {
        return this.newValue.length
      } else if (typeof this.newValue === 'number') {
        return this.newValue.toString().length
      }
      return 0
    },
  },
  watch: {
    /**
     * When v-model is changed:
     *   1. Set internal value.
     *   2. If it's invalid, validate again.
     */
    value(value) {
      this.newValue = value
    },

    /**
     * Update user's v-model and validate again whenever
     * internal value is changed.
     */
    newValue(value) {
      this.$emit('input', value)
      !this.isValid &amp;&amp; this.checkHtml5Validity()
    },
  },
  methods: {
    /**
     * Toggle the visibility of a password-reveal input
     * by changing the type and focus the input right away.
     */
    togglePasswordVisibility() {
      this.isPasswordVisible = !this.isPasswordVisible
      this.newType = this.isPasswordVisible ? 'text' : 'password'

      this.$nextTick(() => {
        this.$refs.input.focus()
      })
    },

    /**
     * Input's 'input' event listener, 'nextTick' is used to prevent event firing
     * before ui update, helps when using masks (Cleavejs and potentially others).
     */
    onInput(event) {
      this.$nextTick(() => {
        this.newValue = event.target.value
      })
    },
  },
}
&lt;/script>
</code></pre>
        </article>
    </section>




</div>

<footer>
    <img class="logo" src="http://nhnent.github.io/tui.component.tree/latest/styles/logo.png" style="width: 150px; height: 13px">
    <div class="footer-text">My awesome footer text</div>
</footer>
<script>prettyPrint();</script>
<script src="scripts/jquery.min.js"></script>
<script src="scripts/tui-doc.js"></script>
<script src="scripts/linenumber.js"></script>

    <script>
        var id = '_sub'.replace(/"/g, '_');
        var selectedApi = document.getElementById(id); // do not use jquery selector
        var $selectedApi = $(selectedApi);

        $selectedApi.removeClass('hidden');
        $selectedApi.parent().find('.glyphicon').removeClass('glyphicon-plus').addClass('glyphicon-minus');
        showLnbApi();
    </script>

</body>
</html>
